.main-bar{
    position: absolute;
    left: 204px;
    height: 650px;
    width: 834px;
    /* border: 2px solid black; */
}
.head{
    font-size: 25px;
    font-weight: 500;
    margin-top: 27px;
    margin-left: 10px;
}
.ask-btn{
    /* display: flex; */
    margin: 30px;
    text-decoration: none;
    height: 32px;
    border:0.5px solid white;
    text-align: center;
    border-radius: 1px;
    width: 108px;
    background-color:hsl(206,100%,52%);
    color: aliceblue;
    cursor: pointer;
}
.main-bar-header{
    display: flex;
    justify-content: space-between;
    height: 51px;
}
.pq{
    font-size: 17px;
    margin-left: 4px;
    margin-top: 20px;
    margin-left: 12px;
}